# Build and editor thing
/build/
/build-ninja/
/build-xcode/
/build-make/
*~
*.dir
*.idea/
.build-vs/
.cproject
.project
.vs/
.vscode
CMakeCache.txt
CMakeFiles
CMakeLists.txt.user
cmake-build-*
cmake_install.cmake
install_manifest.txt
Makefile

# OS specific things
.DS_Store
Thumbs.db

# OpenSpace-generated folders and files
/bin/
/cache/
/cache-*/
/cache_gdal/
/documentation/
/logs/
/screenshots/
/recordings/
/user/
/sync/
/temp/
# Customization is not supposed to be committed
customization.lua
# The COMMIT info is generated everytime CMake is run
COMMIT.md
*_codegen.cpp
data/assets/scene/solarsystem/interstellar/fifth_balloon_20200416_12.asset
data/assets/scene/solarsystem/interstellar/fifth_balloon_20200419_12.asset
data/assets/scene/solarsystem/interstellar/first_balloon_20200416_12.asset
data/assets/scene/solarsystem/interstellar/first_balloon_20200419_12.asset
data/assets/scene/solarsystem/interstellar/fourth_balloon_20200416_12.asset
data/assets/scene/solarsystem/interstellar/fourth_balloon_20200419_12.asset
data/assets/scene/solarsystem/interstellar/second_balloon_20200416_12.asset
data/assets/scene/solarsystem/interstellar/second_balloon_20200419_12.asset
data/assets/scene/solarsystem/interstellar/sixth_balloon_20200416_12.asset
data/assets/scene/solarsystem/interstellar/sixth_balloon_20200419_12.asset
data/assets/scene/solarsystem/interstellar/third_balloon_20200416_12.asset
data/assets/scene/solarsystem/interstellar/third_balloon_20200419_12.asset
data/assets/base.asset
config/OpenSpace_0_16_0-2021-6-22-10-11-40--20444--20680.dmp
config/single-possize.xml
config/single-masked.xml
config/mask.png
config/colormapLegend.png
